section#banner.text-white.pt-5.mt-4
	.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.ml-5.mr-5.mt-3
		.ml-lg-5.pl-lg-5.m-0.p-0
			h2.font-weight-bold Launch your Amazon FBA business with the right data
			p.size-nm.mt-3.pr-lg-3.p-0 Jungle Scout is the only tool that Amazon FBA sellers trust for product research.
		.ml-lg-5.pl-lg-5.pt-2.ml-0.pl-0
			p.size-sm.col-lg-6.col-12 "Jungle Scout is the ONE tool I can not live without. There's ways to use it that simply blow you away once you realize the power of what they can do for your business. A must-have tool for any Amazon seller!"
			.row
				.col.col-auto
					img(src="/assets/scott-img.png" alt="Scott Volker")
				.col.align-self-center
					.size-sm Scott Volker
					.size-xs The Amazing Seller
	#review.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.text-white-50.ml-5.mr-5
		.text-center.p-4
			.size-xs "The most helpful Amazon software in the space"
			img.h-25(src="/assets/huffpost-logo.png" alt="Huffpost")
		.text-center.p-4
			.size-xs "The best resource for data-driven product research"
			img.h-25(src="/assets/forbes-logo.png" alt="Forbes")
		.text-center.p-4
			.size-xs "Handles the heavy lifting on big data analytics"
			img.h-25(src="/assets/Entrepreneur-logo.png" alt="Entrepreneur")
		.text-center.p-4
			.size-xs "Helped thousands of Amazon sellers avoid failure"
			img.h-25(src="/assets/inc-logo.png" alt="Inc")
		.text-center.p-4
			.size-xs "[their] software helps sellers decide what products to offer"
			img.h-25(src="/assets/wall-street-journal-logo-vector-logo-wsj.png" alt="WSJ")