section#introduction.bg-white.text-center
	.container.p-lg-5.p-4
		h4.font-weight-bold Four powerful tools in one
		p.size-sm.col-lg-6.col-12.mx-auto.pb-5 Minimize risks and maximize your profits with Jungle Scout. With just a few clicks, you'll soon be on your way to launching a successful Amazon FBA product.
		.d-flex.justify-content-center.flex-lg-nowrap.flex-wrap
			img.col-lg-5.col-12(src="/assets/img_product-tracker.png")
			.col-lg-4.col-12.text-left.size-sm.mb-4.mb-lg-0
				.font-weight-bold Spy on your competitors
				.h5.font-weight-bold Product Tracker
				p Store and analyze your ideas over time. You can get historical data on products you want to sell, as well as your competitors products.
				.h7
					i.fas.fa-check.mr-1
					| See the real daily sales of your competitors' products
				.h7
					i.fas.fa-check.mr-1
					| Avoid temporary fluctuations in estimations
				.h7
					i.fas.fa-check.mr-1
					| Keep tabs on your competitors throughout your product's lifecycle
		.d-flex.justify-content-center.flex-lg-nowrap.flex-wrap-reverse
			.col-lg-4.col-12.text-left.size-sm.mb-4.mb-lg-0
				.font-weight-bold Discover opportunities
				.h5.font-weight-bold Product Database
				p Your idea-finding machine. Pull Amazon's entire catalogue of products with advanced filters so you can hunt for the type of products you want to sell.
				.h7
					i.fas.fa-check.mr-1
					| Sort millions of Amazon products based on parameters you set
				.h7
					i.fas.fa-check.mr-1
					| Model your product on other successful products
				.h7
					i.fas.fa-check.mr-1
					| instantly add products to your product tracker
			img.col-lg-4.col-12(src="/assets/img_product-database.png")
		.d-flex.justify-content-center.flex-lg-nowrap.flex-wrap
			img.col-lg-5.col-12(src="/assets/img_niche-hunter.png")
			.col-lg-4.col-12.text-left.size-sm.mb-4.mb-lg-0
				.font-weight-bold Generate product ideas
				.h5.font-weight-bold Niche Hunter
				p Want to know what kind of products you should sell? The Niche Hunter gives you amazing opportunities based on hot niches customers are looking for.
				.h7
					i.fas.fa-check.mr-1
					| Find cool, high-value product ideas fast
				.h7
					i.fas.fa-check.mr-1
					| Discover products that work within your parameters
				.h7
					i.fas.fa-check.mr-1
					| Verify a product's viability before making your envestment
		.d-flex.justify-content-center.flex-lg-nowrap.flex-wrap-reverse
			.col-lg-4.col-12.text-left.size-sm.mb-4.mb-lg-0
				.font-weight-bold Plan your keywords
				.h5.font-weight-bold Keyword Scout
				p Based on what customers are searching for, you can view keyword volumes for products, recommended giveaway numbers and suggested PPC bids for selling more products.
				.h7
					i.fas.fa-check.mr-1
					| Build competitive and affordable Amazon PPC campaigns
				.h7
					i.fas.fa-check.mr-1
					| Learn how shoppers are searching for your product
				.h7
					i.fas.fa-check.mr-1
					| Predict the exact number of units to give away at launch
			img.col-lg-4.col-12(src="/assets/img_keyword-scout.png")
		.d-flex.justify-content-around.flex-lg-nowrap.flex-wrap.m-lg-5.pl-lg-5.pr-lg-5.m-3.p-0
			.ml-3.mr-3.mb-3.mb-lg-0
				img.mb-3(src="/assets/icon_finger-snap.png")
				.size-nm.font-weight-bold.mb-3 Easy to use
				.size-xs Not only is Jungle Scout easy-to-use, but we offer free educational resources and 24/7 customer support to ensure your success.
			.ml-3.mr-3.mb-3.mb-lg-0
				img.mb-3(src="/assets/icon_piggy-bank.png")
				.size-nm.font-weight-bold.mb-3 Affordable solutions
				.size-xs Every business is different. Whether you're looking to manage an intimate work-from-home business or a 7-figure empire, we offer a variety of packages.
			.ml-3.mr-3.mb-3.mb-lg-0
				img.mb-3(src="/assets/icon_pc-shield.png")
				.size-nm.font-weight-bold.mb-3 Data you can trust
				.size-xs Jungle Scout employs a full-time staff of pHD-level data scientists to provide you the most accurate Amazon sales data in the world.
	.w-75.mx-auto.border-bottom.border-secondary
	.col-lg-6.col-12.mx-auto.mx-lg-auto.m-lg-5.p-lg-5.m-4.p-4
		h4.font-weight-bold Join the 177,382 Amazon sellers who run their business with Jungle Scout
		p.size-nm Risk free, 100% money back guarantee.
		button.btn.btn-primary.size-sm.font-weight-bold.pl-4.pr-4.pt-2.pb-2 Get started now