section#pricing-plan.bg-white.text-center
	.container.p-lg-5.p-4
		h4.font-weight-bold Save weeks of Amazon product research
		p.size-sm Try it risk-free! We have a 14-day money-back guarantee.
		.d-flex.justify-content-center.flex-lg-nowrap.flex-wrap
			.card.popular-plan-border-top.m-1
				img.ribbon(src="/assets/img_card-badge.png")
				.card-body
					h6.font-weight-bold Seller Starter Bundle
					p.size-xs.text-secondary.mb-0 Valued at $572
					.d-flex.justify-content-center
						p.size-sm.font-weight-bold.align-text-top.pt-1.mb-0 $
						h2.font-weight-bold.mb-0 279
					p.size-nm.font-weight-bold.text-popular Save over 40%!
					.text-left.size-xs
						.h7
							i.fas.fa-check.mr-1
							| 3-month Standard Web App
						.h7.ml-3 - Keyword Scout
						.h7.ml-3 - Product Database
						.h7.ml-3 - Niche Hunter
						.h7.ml-3 - 80 Tracked Products
						.h7.ml-3 - Up to 3 users
						.h7.font-weight-bold.mt-1
							i.fas.fa-check.mr-1
							| FREE 
							span.font-weight-normal Sourcing Bible ($69 Value)
						.h7.font-weight-bold.mt-1
							i.fas.fa-check.mr-1
							| FREE 
							span.font-weight-normal PPC Masterclass ($99 Value)
						.h7.font-weight-bold.mt-1
							i.fas.fa-check.mr-1
							| FREE 
							span.font-weight-normal Pro chrome Extension
					button.btn.btn-block.color-popular.text-white.size-nm.font-weight-bold.mt-3(type="button") Choose Starter Bundle
			.card.normal-plan-border-top.m-1
				.card-body.text-grey
					h6.font-weight-bold Standard Web App
					p.size-xs.text-secondary.mb-0 Valued at $375
					.d-flex.justify-content-center
						p.size-sm.font-weight-bold.align-text-top.pt-1.mb-0 $
						h2.font-weight-bold.mb-0 159
					p.size-nm.font-weight-bold.text-popular Save over 50%!
					.text-left.size-xs
						.h7
							i.fas.fa-check.mr-1
							| 3-month membership
						.h7.ml-3 - Keyword Scout
						.h7.ml-3 - Product Database
						.h7.ml-3 - Niche Hunter
						.h7.ml-3 - 80 Tracked Products
						.h7.ml-3 - Up to 3 users
						.h7.font-weight-bold.mt-1
							i.fas.fa-check.mr-1
							| FREE 
							span.font-weight-normal Sourcing Bible ($69 Value)
						.h7.font-weight-bold.mt-1
							i.fas.fa-check.mr-1
							| FREE 
							span.font-weight-normal PPC Masterclass ($99 Value)
					button.btn.btn-block.color-grey.text-white.size-nm.font-weight-bold.btn-mt(type="button") Choose Web App
			.card.normal-plan-border-top.m-1
				.card-body.text-grey
					h6.font-weight-bold Pro Chrome Extension
					p.size-xs.text-secondary.mb-0 Valued at $365
					.d-flex.justify-content-center
						p.size-sm.font-weight-bold.align-text-top.pt-1.mb-0 $
						h2.font-weight-bold.mb-0 187
					p.size-nm.font-weight-bold.text-popular Lifetime purchase!
					.text-left.size-xs
						.h7
							i.fas.fa-check.mr-1
							| Use Pro Chrome Extension forever!
						.h7.ml-3 - Track products from Amazon
						.h7.ml-3 - Profit Calculator
						.h7.ml-3 - Product Details
						.h7.ml-3 - FBA Fee Estimator
						.h7.ml-3 - Opportunity Score
						.h7.font-weight-bold.mt-1
							i.fas.fa-check.mr-1
							| FREE 
							span.font-weight-normal Sourcing Bible ($69 Value)
						.h7.font-weight-bold.mt-1
							i.fas.fa-check.mr-1
							| FREE 
							span.font-weight-normal PPC Masterclass ($99 Value)
					button.btn.btn-block.color-grey.text-white.size-nm.font-weight-bold.btn-mt(type="button") Choose Pro Extension
		p.size-xs.m-3 Looking for a different product? Head over to our 
			span
				a(href="/") Pricing page
			| !
	.w-75.mx-auto.border-bottom.border-secondary